.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* William Styling */
.center-hor-ver {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cmpt-center {
  margin: 0;
  position: absolute;
  top: 40%;
  right: 48%;
}


.top-10{
  top: 10%;
}
.top-20{
  top: 20%;
}
.top-30{
  top: 30%;
}
.top-40{
  top: 40%;
}
.top-50{
  top: 50%;
}

.right-10{
  right: 10%;
}
.right-20{
  right: 20%;
}
.right-30{
  right: 30%;
}
.right-40{
  right: 40%;
}
.right-45{
  right: 45%;
}
.right-48{
  right: 48%;
}
.right-50{
  right: 50%;
}

.right-1{
  right: 1%;
}
.left-10{
  left: 10%;
}
.left-20{
  left: 20%;
}
.left-30{
  left: 30%;
}
.left-40{
  left: 40%;
}
.left-45{
  left: 45%;
}
.left-48{
  left: 48%;
}
.left-50{
  left: 50%;
}

.no-list-style{
  list-style: none;
}

.width-100{
  width: 100%;
}

.height-10{
  height: 5%;
}
.mb-10{
  margin-bottom: 10rem;
}
.mb-20{
  margin-bottom: 20rem;
}
.mb-30{
  margin-bottom: 30rem;
}
.mb-40{
  margin-bottom: 40rem;
}
.mb-50{
  margin-bottom: 50rem;
}

.grid{
  height: 50%;
  display: grid;
  grid-template-columns:repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.grid2{
  height: 200px;
  display: grid;
  grid-template-columns:repeat(1, 100%);
  grid-template-rows: repeat(96, 70%);
}
.grid3{
  display: grid;
  height: 1028px;
  grid-template-columns:[first] 10% repeat(1, 30%);
  justify-content: center;
}

.gridHeader{
  height: 100%;
  display: grid;
  text-align: center;
  align-items: center;
}

.gridSide{
  height: 100%;
  display: grid;
  align-items: auto;
  outline: auto;
}
.gridData{
  height: 100%;
  align-items: auto;
  transform:initial;
  outline:auto;
}
.gridDataHeader{
  height: 25%;
  align-items: auto;
  transform:initial;
}

.task3{
  height: 100%;
  background-color:rgb(252, 52, 52);
  align-items: auto;
}
.task2{
  height: 100%;
  background-color:rgb(248, 160, 44);
  align-items: auto;
}
.task1{
  height: 100%;
  background-color:rgb(241, 241, 66);
  align-items: auto;
}
.task0{
  height: 100%;
  background-color:beige;
  align-items: auto;
}
.taskComplete{
  height: 100%;
  background-color:rgb(82, 231, 119);
  align-items: auto;
}
.taskButton{
  height:fit-content;
}
.dayDisplay{
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-icon:hover{
  background-color: rgb(132, 186, 233);
  border-radius: 50%;
}

.add-icon{
  background: url(./pics/addIcon-light.png) no-repeat;
}
.add-icon:hover{
  background: url(./pics/addIcon-dark.png) no-repeat;
}

/* Progress Tracker Styling */
.tracker-container{
  display: flex;
  width: 420px;
  padding: 50px 0;
  border-radius: 8px;
  background: #fff;
  flex-direction: column;
  align-items: center;
}

.circular-progress{
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background: conic-gradient(#61dafb 3.6deg, #ededed);
  display: flex;
  align-items: center;
  justify-content: center;
}
.circular-progress::before{
  content: "";
  position: absolute;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  background-color: #fff;
}

.progress-value{
  position: relative;
  font-size: 50px;
  font-weight: 600;
  color: #61dafb;
}